

<br>

<!-- sign in -->

<div *ngIf="!currentMember.name">
    <h1 >אנא התחבר לחשבון</h1>
    <app-login></app-login>
</div>


<!-- is signing in-->
<div *ngIf="currentMember.name" >
    <h1 >יתרה בבנק היא:</h1>
    <h1>{{getRemainTime(currentMember)}}</h1> 
    <app-received-reports></app-received-reports>
    <!--הוספת קטגוריה--> 
    <app-add-member-category></app-add-member-category>
    <!-- מציג את כל הקטגוריות נתינה של החבר הנוכחי-->
    <app-member-categoties ></app-member-categoties>
    <!--מציג את כל הנתינות של החבר הנוכחי-->
    <app-category-reports ></app-category-reports>

</div>



<!-- כל הנתינות והקבלות -->
<!-- קטגוריות משתמש -->


